<%= render "shared/header" %>

<div class="profiles edit-profiles">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="flash-message">
      <%= render 'shared/error_messages', model: f.object %>
    </div>

    <div class="profile-top">
      <label for="user_image" class="user-image">
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize: '150x150'), class: 'profile-image' %>
      <% else %>
        <i class="fas fa-camera profile-camera"></i>
      <% end %>
      </label>
      <%= f.file_field :image, class:"hidden" %>
    </div>

    <div class="profile-main">
      <div class="profile-mainTop">
        <p>名前</p>
        <div class="profile-info">
          <%= f.text_area :name, class:"profile-name edit-input", placeholder:"名前（必須 6文字まで)", maxlength:"6" %>
        </div>
        <div class="profile-job">
          職業、状況<br><%= f.collection_select(:job_id, Job.all, :id, :name, {}, {class:"select-box edit-input"}) %>
        </div>
        <div class="profile-job">
          状態<br><%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box edit-input"}) %>
        </div>
      </div>
      <div class="profile-mainBottom">
        <p>プロフィール</p>
        <%= f.text_area :profile, class:"profile-text edit-input", placeholder:"自身のプロフィール" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="profile-editBtn">
      <%= f.submit "編集する" ,class:"edit-btn btn" %>
    </div>
  <% end %>

</div>
