<%= render "shared/header" %>
<h2 class="registration-ttl">新規登録</h2>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :name, "名前（6文字以下）", {class: 'registration-label'} %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => 'registration-field' %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス", {class: 'registration-label'} %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'registration-field' %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード（6文字以上）", {class: 'registration-label'} %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => 'registration-field' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認用）", {class: 'registration-label'} %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'registration-field' %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", :class => 'registration-submit' %>
  </div>
<% end %>

<div class="registration-rogin">
  すでにアカウントをお持ちの方は<%= link_to "こちら", new_user_session_path, class: "post" %>
</div>