<%= render "shared/header" %>

<div class='flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
</div>

<div class="tweets-container">

  <% if @recommend_tweets != [] && user_signed_in? %>
    <div class="recommend">
      <ul class="recoTweet-lists">
        <%  @recommend_tweets.each do |tweet| %>
          <li class='recoTweet-list'>
            <%= link_to tweet_path(tweet.id), class: "show-link" do %>
                <%= image_tag tweet.image, class: "recoTweet-img" %>
                <div class="recoTweet-ttl"><%= tweet.title %></div>
                <div class="recoTweet-txt"><%= current_user.name %>さんへオススメの投稿</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="index">
    <ul class="tweet-lists">
      <% if @tweets != [] %>
        <% @tweets.each do |tweet| %>
          <li class='tweet-list'>
            <%= link_to tweet_path(tweet.id), class: "show-link" do %>

              <%= render partial: "shared/tweet",  locals: { tweet: tweet } %>

            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>

<% if user_signed_in? %>
  <%= link_to new_tweet_path, class: "tweet-btn", id: "tweet-btn" do %>
    <i class="fas fa-edit"></i>
  <% end %>
<% end%>