<%= render "shared/header" %>

<div class='flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
</div>

<div class="index">
  <ul class="tweet-lists">
    <% if @tweets != [] %>
      <% @tweets.each do |tweet| %>
        <li class='tweet-list'>
          <%= link_to tweet_path(tweet.id), class: "show-link" do %>

            <%= render partial: "shared/tweet",  locals: { tweet: tweet } %>

          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <%= link_to new_tweet_path, class: "tweet-btn", id: "tweet-btn" do %>
    <i class="fas fa-edit"></i>
  <% end %>
<% end%>