<%= render "shared/header" %>

<div class='flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
</div>

<% unless user_signed_in? %>
  <div class="intro-bg fadeIn">
    <div class="intro">
      <%= image_tag asset_path("intro_img.jpg"), class: "intro-img" %>
    </div>
  </div>
  <div class="intro-content fadeIn">
    <div class="intro-mainTxt">あなたの人生を変えてくれる作品と出会いましょう</div>
    <div class="intro-txt">motivateは各職業の方がもっと仕事の質を上げたい、あるマイナスの状態の方がその状態を改善したいと<br>思うような目的意識を与えるドラマ、映画、アニメ、漫画、個人動画などを投稿、もしくは探せるサービス</div>
    <div class="intro-subTxt">右上のログインボタンからゲストログインができます</div>
  </div>
<% end %>

<div class="tweets-container">

  <% if @recommend_tweets != [] && user_signed_in? %>
    <div class="recommend fadeIn">
      <ul class="recoTweet-lists slider">
        <%  @recommend_tweets.each do |tweet| %>
          <li class='recoTweet-list'>
            <%= link_to tweet_path(tweet.id), remote: true, class: "show-link" do %>
              <% if tweet.image.attached? %>
                <%= image_tag tweet.image, class: "recoTweet-img" %>
              <% else %>
                <div class="recoTweet-img"></div>
              <% end %>
              <div class="recoTweet-ttl"><%= tweet.title %></div>
              <div class="recoTweet-message"><%= tweet.message %></div>
              <div class="recoTweet-txt"><%= current_user.name %>さんへオススメの投稿</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main">

    <div class="left-sideBar fadeIn">
      <div class="left-container">

        <div class="search-subTtl">キーワード検索</div>
        <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= f.submit "検索", class: "search-submit keyword-searchBtn" %>
        <% end %>

        <div class="search-subTtl">心境で検索</div>
        <%= form_with(url: search_status_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"tweet_status"}) %>
          <%= f.submit "検索", class: "search-submit" %>
        <% end %>

        <div class="search-subTtl">職・状況で検索</div>
        <%= form_with(url: search_job_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
          <%= f.collection_select(:job_id, Job.all, :id, :name, {}, {class:"select-box job-search", id:"tweet_job"}) %>
          <%= f.submit "検索", class: "search-submit" %>
        <% end %>

        <div class="search-subTtl">タグ検索</div>
        <%= link_to search_tags_tweets_path, class: "search-form tag-searchBtn" do %>
          <i class="fas fa-tags"></i>タグで検索する
        <% end %>

        <div class="search-subTtl rank-tagTtl">人気のタグ</div>
        <ul class="tag-lists">
          <% if @tags != [] %>
            <div class="tweet-tags">
              <ul class="tweet-tagList search-tagList">
                <% @tags.each do |tag| %>
                  <%= link_to search_tag_tweets_path(tag: tag), class: "tag-link search-tagLink rank-tagLink" do %>
                    <div class="tag-name search-tagName">#<%= tag.name %></div>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="index">
      <ul class="tweet-lists">
        <% if @tweets != [] %>
          <% @tweets.each do |tweet| %>
            <li class='tweet-list fadeIn'>
              <%= link_to tweet_path(tweet.id), remote: true, class: "show-link" do %>

                <%= render partial: "shared/tweet",  locals: { tweet: tweet } %>

              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="right-sideBar fadeIn">
      <div class="right-container">
        <div class="rank-container">
          <h2 class="rank-ttl">人気投稿ランキング</h2>

          <ul class="rank-lists">
            <% if @rank_tweets != [] %>
              <% j = 0 %>
              <% @rank_tweets.each do |tweet| %>
                <li class='rank-list ranking'>
                  <div class="rank-hover">
                    <%= link_to tweet_path(tweet.id), remote: true, class: "show-link" do %>
                      
                      <div class="rank-num">
                        <% j += 1 %>
                        <p>第<%= j %>位</p>
                      </div>
                      <div class="rank-TweetTtl"><%= tweet.title %></div>
                      <div class="rank-TweetUser"><%= tweet.user.name %>さん</div>

                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>

          <h2 class="rank-ttl job-rankTtl">選ばれている心境ランキング</h2>

          <ul class="rank-lists">
            <% if @tweet_statuses != [] %>
              <% j = 0 %>
              <% @tweet_statuses.each do |status| %>
                <li class='rank-list'>
                  <div class="rank-num">
                    <% j += 1 %>
                    <p>第<%= j %>位</p>
                  </div>
                  <div class="rank-TweetStatus"><%= status[0].name %></div>
                </li>
              <% end %>
            <% end %>
          </ul>

          <h2 class="rank-ttl job-rankTtl">選ばれている職業ランキング</h2>

          <ul class="rank-lists">
            <% if @tweet_jobs != [] %>
              <% j = 0 %>
              <% @tweet_jobs.each do |job| %>
                <li class='rank-list'>
                  <div class="rank-num">
                    <% j += 1 %>
                    <p>第<%= j %>位</p>
                  </div>
                  <div class="rank-TweetStatus"><%= job[0].name %></div>
                </li>
              <% end %>
            <% end %>
          </ul>

        </div>

      </div>
    </div>

  </div>

</div>

<% if user_signed_in? %>
  <%= link_to new_tweet_path, class: "tweet-btn", id: "tweet-btn" do %>
    <i class="fas fa-edit"></i>
  <% end %>
<% end %>

<div class="totop"></div>

<div id="mask" class="hidden"></div>

<div id="close-btn" class="hidden">
  <i class="fas fa-times-circle"></i>
</div>

<div id="modal" class="hidden">
  <p>モーダルウィンドウ<p>
</div>