<%= render "shared/header" %>

<div class='flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
</div>

<div class="tweets-container">

  <% if @recommend_tweets != [] && user_signed_in? %>
    <div class="recommend">
      <ul class="recoTweet-lists">
        <%  @recommend_tweets.each do |tweet| %>
          <li class='recoTweet-list'>
            <%= link_to tweet_path(tweet.id), class: "show-link" do %>
                <%= image_tag tweet.image, class: "recoTweet-img" %>
                <div class="recoTweet-ttl"><%= tweet.title %></div>
                <div class="recoTweet-txt"><%= current_user.name %>さんへオススメの投稿</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main">

    <div class="left-sideBar">
      <div class="left-container">
        <div class="rank-container">
        </div>
      </div>
    </div>

    <div class="index">
      <ul class="tweet-lists">
        <% if @tweets != [] %>
          <% @tweets.each do |tweet| %>
            <li class='tweet-list'>
              <%= link_to tweet_path(tweet.id), class: "show-link" do %>

                <%= render partial: "shared/tweet",  locals: { tweet: tweet } %>

              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="right-sideBar">
      <div class="right-container">
        <div class="rank-container">
          <h2 class="rank-ttl">人気投稿ランキング</h2>

          <ul class="rank-lists">
            <% if @rank_tweets != [] %>
              <% j = 0 %>
              <% @rank_tweets.each do |tweet| %>
                <li class='rank-list ranking'>
                  <div class="rank-hover">
                    <%= link_to tweet_path(tweet.id), class: "show-link" do %>
                      
                      <div class="rank-num">
                        <% j += 1 %>
                        <p>第<%= j %>位</p>
                      </div>
                      <div class="rank-TweetTtl"><%= tweet.title %></div>
                      <div class="rank-TweetUser"><%= tweet.user.name %>さん</div>

                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>

          <h2 class="rank-ttl job-rankTtl">選ばれている心境ランキング</h2>

          <ul class="rank-lists">
            <% if @tweet_statuses != [] %>
              <% j = 0 %>
              <% @tweet_statuses.each do |status| %>
                <li class='rank-list'>
                  <div class="rank-num">
                    <% j += 1 %>
                    <p>第<%= j %>位</p>
                  </div>
                  <div class="rank-TweetStatus"><%= status[0].name %></div>
                </li>
              <% end %>
            <% end %>
          </ul>

          <h2 class="rank-ttl job-rankTtl">選ばれている職業ランキング</h2>

          <ul class="rank-lists">
            <% if @tweet_jobs != [] %>
              <% j = 0 %>
              <% @tweet_jobs.each do |job| %>
                <li class='rank-list'>
                  <div class="rank-num">
                    <% j += 1 %>
                    <p>第<%= j %>位</p>
                  </div>
                  <div class="rank-TweetStatus"><%= job[0].name %></div>
                </li>
              <% end %>
            <% end %>
          </ul>

        </div>

      </div>
    </div>

  </div>

</div>

<% if user_signed_in? %>
  <%= link_to new_tweet_path, class: "tweet-btn", id: "tweet-btn" do %>
    <i class="fas fa-edit"></i>
  <% end %>
<% end%>