<%= render "shared/header" %>

<div class="index">
  <ul class="tweet-lists">
    <li class='tweet-list'>

      <div class="tweet-listTop">
        <% if @tweet.user.image.attached? %>
          <%= image_tag @tweet.user.image.variant(resize: '50x50'), class: "user-img" %>
        <% end %>
        <div class="user-name"><%= @tweet.user.name %></div>
      </div>

      <div class="tweet-listMain">
        <% if @tweet.image.attached? %>
          <%= image_tag @tweet.image, class: "tweet-img" %>
        <% end %>
      </div>

      <div class="tweet-listBottom">
        <div class="tweet-ttl"><%= @tweet.title %></div>
        <div class="tweet-txt"><%= @tweet.text %></div>
        <div class="tweet-job">見て欲しい人の職業,状況：<%= @tweet.job.name %></div>
        <div class="tweet-status">見て欲しい人の心境,状態：<%= @tweet.status.name %></div>
        <div class="tweet-option">
          <div class="tweet-day"><%= time_ago_in_words(@tweet.created_at) %>前</div>
          <% if user_signed_in? && current_user.id == @tweet.user_id %>
            <div class="tweet-sub">
              <%= link_to edit_tweet_path(@tweet.id), class: "edit-btn" do %>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to tweet_path(@tweet.id), method: :delete, class: "destroy-btn" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </li>
  </ul>

  <div class="comment">
    <h3 class="comment-ttl">コメント</h3>
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |f| %>

        <div class="flash-message">
          <%= render 'shared/error_messages', model: f.object %>
        </div>

        <div class="comment-form">
          <%= f.label :text, {class: 'hidden'} %>
          <%= f.text_area :text, placeholder: "コメント", rows: "2", :class => 'comment-field' %>
          <%= f.submit "投稿", :class => 'comment-submit' %>
        </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comment-lists">
      <h4 class="comment-listsTtl">＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <div class="comment-list">
          <% if comment.user.image.attached? %>
            <%= image_tag comment.user.image.variant(resize: '30x30'), class: "user-img" %>
          <% end %>
          <%= link_to "#{comment.user.name}：", user_path(comment.user_id), class: "user-name" %>
          <%= comment.text %>
        </div>
      <% end %>
    </div>
  </div>

</div>