<%= render "shared/header" %>

<div class="index tweet-showIndex">
  <ul class="tweet-lists">
    <li class='tweet-list'>

      <%= render partial: "shared/tweet",  locals: { tweet: @tweet } %>

    </li>
  </ul>

  <div class="comment">
    <h3 class="comment-ttl">コメント</h3>
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |f| %>

        <div class="flash-message">
          <%= render 'shared/error_messages', model: f.object %>
        </div>

        <div class="comment-form">
          <%= f.label :text, {class: 'hidden'} %>
          <%= f.text_area :text, placeholder: "コメント", rows: "2", :class => 'comment-field' %>
          <%= f.submit "投稿", :class => 'comment-submit' %>
        </div>
      <% end %>
    <% else %>
      <div class="error-comment">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</div>
    <% end %>
    <div class="comment-lists">
      <h4 class="comment-listsTtl">＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <div class="comment-list">
          <% if comment.user.image.attached? %>
            <%= image_tag comment.user.image.variant(resize: '30x30'), class: "user-img" %>
          <% end %>
          <%= link_to "#{comment.user.name}：", user_path(comment.user_id), class: "user-name" %>
          <%= comment.text %>
        </div>
      <% end %>
    </div>
  </div>

</div>