<%= render "shared/header" %>

<div class="profiles">

  <div class="profile-top">
    <% if @user.image.attached? %>
        <%= image_tag @user.image.variant(resize: '150x150'), class: 'profile-image' %>
      <% else %>
        <i class="fas fa-camera profile-camera"></i>
      <% end %>
  </div>

  <div class="profile-main">
    <div class="profile-mainTop">
      <div class="profile-info">
        <span class="profile-name"><%= @user.name %></span>
        <%= link_to "プロフィールの編集", edit_user_registration_path(current_user.id), method: :get, class: "profile-edit" %>
      </div>
      <div class="profile-job">
        職業,状況：<%= @user.job.name %>
      </div>
      <div class="profile-status">
        心境,状態：<%= @user.status.name %>
      </div>
    </div>
    <div class="profile-mainBottom">
      <%= @user.profile %>
    </div>
  </div>

  <div class="profile-bottom">

    <div class="profile-tweetsTtl">
      投稿一覧
    </div>

    <div class="index">
      <ul class="tweet-lists">
        <% if @tweets != [] %>
          <% @tweets.each do |tweet| %>
            <li class='tweet-list'>
              <%= link_to tweet_path(tweet.id), class: "show-link" do %>

                <%= render partial: "shared/tweet",  locals: { tweet: tweet } %>

              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>

</div>