<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="header-left">
    <h1 class="header-ttl"><%= link_to "Motivate ", root_path %></h1>
  </div>
  <div class="header-right main-menu">
    <nav class="header-nav">
      <ul class="header-list">

        <% if user_signed_in? %>
          <li>
            <%= link_to root_path, class: "home header-item" do %>
              <i class="fas fa-home"></i>ホーム
            <% end %>
            <%= link_to user_path(current_user), class: "post header-item" do %>
              <i class="fas fa-user"></i>プロフィール
            <% end %>
            <a class="search-headBtn"><i class="fas fa-search"></i>検索</a>
            <a class="rank-headBtn"><i class="fas fa-crown"></i>ランキング</a>
            <%= link_to destroy_user_session_path, class: "logout header-item", method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to root_path, class: "home header-item" do %>
              <i class="fas fa-home"></i>ホーム
            <% end %>
            <a class="search-headBtn"><i class="fas fa-search"></i>検索</a>
            <a  class="rank-headBtn"><i class="fas fa-crown"></i>ランキング</a>
            <%= link_to new_user_session_path, class: "login header-item" do %>
              <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>